<div> 
  The name of this Tutorial is {{TutorialName}}<br>  
  The first Topic is {{appList[0] | uppercase}}<br> 
  The second Topic is {{appList[1] | uppercase}}<br> 
  The third Topic is {{appList[2]| slice:2:3}}<br> 
  The date of this Tutorial is {{newdate | date:"MM/dd/yy"}}<br>
  The currency of this Tutorial is {{newValue | currency}}<br>
  The percentage is {{perc | percent:'2.2-5'}}<br> 
</div> 

<!-- <div> 
  {{Status}} 
  <button (click) = "clicked()">Click</button> 
</div>  -->

<!-- <div>
  <input [value] = "name" (input) = "name = $event.target.value">
  {{name}}
</div> -->

<!-- <div>
  The name of this Tutorial is {{TutorialName}}<br>
  The first Topic is {{appList[0]}}<br>
  The second Topic is {{appList[1]}}<br>
  The third Topic is {{appList[2]}}<br>
</div> -->

<!-- <div *ngIf = 'appStatus'>
  {{appTitle}} Tutorialspoint 
  <div *ngFor = 'let lst of appList'> 
    <ul> 
       <li>{{lst.ID}}</li> 
       <li>{{lst.Name}}</li> 
       <img [src] = 'lst.url'>
    </ul> 
 </div> 
</div>  -->